# Python
__pycache__/
*.pyc

# Virtual env
venv/
.env

# Temporary files
tmp_uploads/
tmp_frame.jpg

# Logs
logs/*.log

# ML models (VERY IMPORTANT)
models/*.pkl
models/*.joblib
models/*.onnx

# Media
*.mp4
*.jpg
*.png

# OS
.DS_Store
Thumbs.db
